absl-py==1.4.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
aiohttp==3.8.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
aiosignal==1.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
antlr4-python3-runtime==4.9.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
appnope==0.1.3 ; python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform == "darwin" or python_full_version >= "3.7.1" and python_version < "3.8" and platform_system == "Darwin"
astunparse==1.6.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
async-timeout==4.0.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
asynctest==0.13.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
attrs==23.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
backcall==0.2.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
black==22.10.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
cachetools==5.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
certifi==2023.5.7 ; python_full_version >= "3.7.1" and python_version < "3.8"
cffi==1.15.1 ; python_full_version >= "3.7.1" and python_version < "3.8" and implementation_name == "pypy"
charset-normalizer==3.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
click==8.1.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
colorama==0.4.6 ; python_full_version >= "3.7.1" and python_version < "3.8" and platform_system == "Windows" or python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform == "win32"
colorlog==4.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
cycler==0.11.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
cython==0.29.36 ; python_full_version >= "3.7.1" and python_version < "3.8"
dacite==1.8.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
debugpy==1.6.7 ; python_full_version >= "3.7.1" and python_version < "3.8"
decorator==5.1.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
einops==0.4.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
entrypoints==0.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
exceptiongroup==1.1.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
flake8-bugbear==23.3.12 ; python_full_version >= "3.7.1" and python_version < "3.8"
flake8==3.9.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
flatbuffers==23.5.26 ; python_full_version >= "3.7.1" and python_version < "3.8"
fonttools==4.38.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
frozenlist==1.3.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
fsspec==2023.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
gast==0.5.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
gcsfs==2023.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
gitdb==4.0.10 ; python_full_version >= "3.7.1" and python_version < "3.8"
gitpython==3.1.31 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-api-core==2.11.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-auth-oauthlib==0.4.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-auth==2.21.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-cloud-core==2.3.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-cloud-storage==2.10.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-crc32c==1.5.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-pasta==0.2.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
google-resumable-media==2.5.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
googleapis-common-protos==1.59.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
grpcio==1.56.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
h5py==3.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
hydra-core==1.3.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
idna==3.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
importlib-metadata==6.7.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
importlib-resources==5.12.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
iniconfig==2.0.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
ipykernel==6.16.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
ipython==7.31.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
isort==5.1.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
jedi==0.18.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
jinja2==3.1.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
joblib==1.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
jupyter-client==7.4.9 ; python_full_version >= "3.7.1" and python_version < "3.8"
jupyter-core==4.12.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
keras-preprocessing==1.1.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
keras==2.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
kiwisolver==1.4.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
libclang==16.0.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
markdown==3.4.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
markupsafe==2.1.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
matplotlib-inline==0.1.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
matplotlib==3.5.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
mccabe==0.6.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
multidict==6.0.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
mypy-extensions==0.4.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
mypy==0.790 ; python_full_version >= "3.7.1" and python_version < "3.8"
nest-asyncio==1.5.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
numpy==1.21.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
oauthlib==3.2.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
omegaconf==2.3.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
opt-einsum==3.3.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
packaging==23.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
pandas==1.3.5 ; python_full_version >= "3.7.1" and python_version < "3.8"
parso==0.8.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
pathspec==0.11.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
pexpect==4.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform != "win32"
pickleshare==0.7.5 ; python_full_version >= "3.7.1" and python_version < "3.8"
pillow==9.5.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
platformdirs==3.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pluggy==1.2.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
prdc==0.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
prompt-toolkit==3.0.39 ; python_full_version >= "3.7.1" and python_version < "3.8"
protobuf==4.23.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
psutil==5.9.5 ; python_full_version >= "3.7.1" and python_version < "3.8"
ptyprocess==0.7.0 ; python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform != "win32"
pyasn1-modules==0.3.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pyasn1==0.5.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pycocotools==2.0.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
pycodestyle==2.7.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pycparser==2.21 ; python_full_version >= "3.7.1" and python_version < "3.8" and implementation_name == "pypy"
pyflakes==2.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
pygments==2.15.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
pyparsing==3.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pysen[lint]==0.10.4 ; python_full_version >= "3.7.1" and python_version < "3.8"
pytest==7.4.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
python-dateutil==2.8.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
pytorch-fid==0.2.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
pytz==2023.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version >= "3.7.1" and python_version < "3.8"
pyyaml==6.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
pyzmq==25.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
requests-oauthlib==1.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
requests==2.31.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
rsa==4.9 ; python_full_version >= "3.7.1" and python_version < "3.8"
scikit-learn==1.0.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
scipy==1.7.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
seaborn==0.11.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
setuptools==59.5.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
six==1.16.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
smmap==5.0.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
tensorboard-data-server==0.6.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
tensorboard-plugin-wit==1.8.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
tensorboard==2.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
tensorflow-io-gcs-filesystem==0.32.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
tensorflow==2.8.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
termcolor==2.3.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
tf-estimator-nightly==2.8.0.dev2021122109 ; python_full_version >= "3.7.1" and python_version < "3.8"
threadpoolctl==3.1.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
tomli==2.0.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
tomlkit==0.11.8 ; python_full_version >= "3.7.1" and python_version < "3.8"
torch @ https://download.pytorch.org/whl/cpu/torch-1.12.1%2Bcpu-cp37-cp37m-linux_x86_64.whl ; python_full_version >= "3.7.1" and python_version < "3.8"
torch-geometric==2.3.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
torch-scatter @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_scatter-2.0.9-cp37-cp37m-linux_x86_64.whl ; python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform == "linux"
torch-sparse @ https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_sparse-0.6.13-cp37-cp37m-linux_x86_64.whl ; python_full_version >= "3.7.1" and python_version < "3.8" and sys_platform == "linux"
torch-tb-profiler==0.4.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
torchvision @ https://download.pytorch.org/whl/cu113/torchvision-0.13.1%2Bcu113-cp37-cp37m-linux_x86_64.whl ; python_full_version >= "3.7.1" and python_version < "3.8"
tornado==6.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
tqdm==4.65.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
traitlets==5.9.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
typed-ast==1.4.3 ; python_version < "3.8" and python_full_version >= "3.7.1"
typing-extensions==4.7.1 ; python_full_version >= "3.7.1" and python_version < "3.8"
unidiff==0.7.5 ; python_full_version >= "3.7.1" and python_version < "3.8"
urllib3==1.26.16 ; python_full_version >= "3.7.1" and python_version < "3.8"
wcwidth==0.2.6 ; python_full_version >= "3.7.1" and python_version < "3.8"
werkzeug==2.2.3 ; python_full_version >= "3.7.1" and python_version < "3.8"
wheel==0.40.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
wrapt==1.15.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
yarl==1.9.2 ; python_full_version >= "3.7.1" and python_version < "3.8"
zipp==3.15.0 ; python_full_version >= "3.7.1" and python_version < "3.8"
